$primary-color: #191E29;
$secondary-color: #01C38D;
$tertiary-color: #132D46;
$text-color-secondary: #696E79;
$rgba_primary: rgba(1, 195, 141, 0.3);

$home-image: url(../img/background.jpg);
$show-home-image: true;
$background-opacity: 0.9;

$footer-size: 60px;

@mixin defaultTransition {
    transition: all 0.5s ease-out;
}

* {
    box-sizing: border-box;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }

        &#gradient-bg {
            background: linear-gradient(0.4turn, $primary-color, 50%, darken($primary-color, 10));;
        }
    }
}

@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}

@keyframes glow {
    to {
      text-shadow: 0 0 5px $rgba_primary, 0 0 10px $rgba_primary, 0 0 15px $rgba_primary;
    }
  }
